
<!--<script src="/jquery/dist/jquery.min.js"></script>-->
<!-- Placed at the end of the document so the pages load faster ============================================= -->
<script src="{{public}}/assets/js/jquery.js" type="text/javascript"></script>
<script src="{{public}}/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{public}}/assets/js/google-code-prettify/prettify.js"></script>

<script src="{{public}}/assets/js/bootshop.js"></script>
<script src="{{public}}/assets/js/jquery.lightbox-0.5.js"></script>

