<!--angularjs-->
<script src="/angularjs/angular.min.js"></script>

<!--main app-->
<script src="{{public}}/app.js"></script>

<!--services-->
<script src="{{public}}/services/configuration.js"></script>

<!--controllers-->
<script src="{{public}}/controllers/web.controller.js"></script>

<!--directives-->
<script src="{{public}}/directives/theme/bootshop.carousel.js"></script>
<script src="{{public}}/directives/theme/bootshop.header.js"></script>
<script src="{{public}}/directives/theme/bootshop.main.body.js"></script>
<script src="{{public}}/directives/theme/bootshop.footer.js"></script>

<script src="{{public}}/directives/navigation/category.side.menu.js"></script>