<!-- Bootstrap style -->
<link id="callCss" rel="stylesheet" href="{{public}}/assets/css/bootshop/bootstrap.min.css" media="screen"/>
<link href="{{public}}/assets/css/base.css" rel="stylesheet" media="screen"/>
<!-- Bootstrap style responsive -->
<link href="{{public}}/assets/css/bootstrap-responsive.min.css" rel="stylesheet"/>
<link href="{{public}}/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
<!-- Google-code-prettify -->
<link href="{{public}}/assets/js/google-code-prettify/prettify.css" rel="stylesheet"/>
<!-- fav and touch icons -->
<link rel="shortcut icon" href="{{public}}/assets/images/ico/favicon.ico">


<link rel="apple-touch-icon-precomposed" sizes="144x144" href="themes/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="themes/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="themes/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="themes/images/ico/apple-touch-icon-57-precomposed.png">
<style type="text/css" id="enject"></style>