<div class="container">
    <br>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Add Product here</h3></div>
                <div>
                    <tabset>
                        <tab heading="Product Info">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input placeholder="Product Name" class="form-control" data-ng-model="product.name">
                                </div>
                                <div class="form-group">
                                    <label>Which Category </label>
                                    <select class="form-control" data-ng-model="product.category"
                                            ng-options="obj.id as obj.text for obj in categories"></select>
                                </div>
                                <div class="form-group">
                                    <label>Description </label>
                                    <textarea ui-tinymce="" class="form-control"
                                              data-ng-model="product.description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Product Price</label>
                                    <input placeholder="Product Price" class="form-control"
                                           data-ng-model="product.price">
                                </div>
                                <div class="form-group">
                                    <label>Product Amount in Stock</label>
                                    <input placeholder="Product in Stock" class="form-control"
                                           data-ng-model="product.inStock">
                                </div>
                                <div class="form-group">
                                    <label>Discount Percentage</label>
                                    <input type="number" placeholder="Product Discount" class="form-control"
                                           data-ng-model="product.discount">
                                </div>
                                <div class="form-group">
                                    <label>Product SKU</label>
                                    <input type="text" placeholder="Product SKU" class="form-control"
                                           data-ng-model="product.sku">
                                </div>
                                <button class="btn btn-primary" type="button" ng-click="save(true);">Save & and
                                    Continue
                                </button>
                                <button class="btn btn-success" type="button" ng-click="save(false);">Save</button>
                                <button class="btn btn-warning" type="button" ng-click="goBack();">Cancel</button>
                            </div>
                        </tab>
                        <tab heading="Pictures">
                            <div tab-product-pictures>You can add pictures after adding the product.</div>
                        </tab>
                    </tabset>
                </div>


            </div>
        </div>
    </div>
</div>