<div class="container">
    <br>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Edit Product here</h3></div>
                <tabset>
                    <tab heading="Product Info">
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input placeholder="Product Name" class="form-control" data-ng-model="product.name">
                            </div>
                            <div class="form-group">
                                <label>Which Category </label>
                                <select class="form-control" data-ng-model="product.category"
                                        ng-options="obj.id as obj.text for obj in categories"></select>
                            </div>
                            <div class="form-group">
                                <label>Description </label>
                                <textarea ui-tinymce="" class="form-control"
                                          data-ng-model="product.description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Product Price</label>
                                <input placeholder="Product Price" class="form-control" data-ng-model="product.price">
                            </div>
                            <div class="form-group">
                                <label>Product Amount in Stock</label>
                                <input placeholder="Product in Stock" class="form-control"
                                       data-ng-model="product.inStock">
                            </div>
                            <div class="form-group">
                                <label>Discount Percentage</label>
                                <input type="number" placeholder="Product Discount" class="form-control"
                                       data-ng-model="product.discount">
                            </div>
                            <div class="form-group">
                                <label>Product SKU</label>
                                <input type="text" placeholder="Product SKU" class="form-control"
                                       data-ng-model="product.sku">
                            </div>
                            <button class="btn btn-primary" type="button" ng-click="update(true);">Update & and
                                Continue
                            </button>
                            <button class="btn btn-success" type="button" ng-click="update(false);">Update</button>
                            <button class="btn btn-warning" type="button" ng-click="goBack();">Cancel</button>
                        </div>
                    </tab>
                    <tab heading="Pictures">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table st-table="rowCollection" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Picture</th>
                                        <th>Display Order</th>
                                        <th>Alt</th>
                                        <th>Title</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in product.images">
                                        <td><img ng-src="{{'/api/products/media/'+item.id}}" class="thumb-preview"></td>
                                        <td>{{item.displayOrder}}</td>
                                        <td>{{item.alt}}</td>
                                        <td>{{item.title}}</td>
                                        <td><a href="#">Edit</a></td>
                                        <!--ui-sref="Product.Edit({productId: item.id})"-->
                                        <td>
                                            <div class="btn btn-danger" ng-click="deleteImage(item.id);"><i
                                                    class="fa fa-remove fa-fw"></i>Delete
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <label>Picture</label>
                                <br>
                                <img ngf-src="picture.files[0]" class="img-thumbnail thumb-preview"
                                     ng-hide="picture.files[0] === null"
                                     ngf-default-src="{{public}}asset/image/no-image.gif">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" ngf-select data-ng-model="picture.files">
                                    Select File
                                </button>
                            </div>
                            <div class="form-group">
                                <label>alt</label>
                                <input placeholder="image alt text" class="form-control" data-ng-model="picture.alt">
                            </div>
                            <div class="form-group">
                                <label>Picture Title</label>
                                <input placeholder="Picture Title" class="form-control" data-ng-model="picture.title">
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" type="button" ng-click="upload(picture.files)"
                                       value="add Image to Product">
                            </div>
                        </div>

                    </tab>

                </tabset>
            </div>
        </div>
    </div>
</div>