<div><select id="SearchModel_Cid" style="width:265px;height:24px;font-weight:normal;" name="SearchModel.Cid"
        data-val-number="The field Category must be a number." data-val="true">
    <option ng-repeat="item in categories" value="{{item.value}}">{{item.data}}</option>
</select></div>