<div id="productContainer">
    <img class="fullImg" ng-src="../images/{{product.imageFile}}"/>

    <div class="prodInfo">
        <p class="itemTitle">{{product.name}}</p>

        <p class="prodDesc">{{product.description}}</p>

        <p class="fullPrice">{{product.price|currency}}</p>

        <p class="status">{{product.inStock}} available</p>

        <p class="cartButton" ng-click="addToCart(product._id)">Add to Cart <img src="/images/cart.png"</p>
    </div>

</div>