<div id="productsContainer">
    <div class="listItem" ng-repeat="product in products">
        <img class="listImg" ng-click="setProduct(product._id)" ng-src="../images/{{product.imageFile}}"/>
        <span class="prodName">{{product.name}}</span>
        <span class="price">{{product.price|currency}}</span>
    </div>
</div>