<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a ui-sref="dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href=""><i class="fa fa-coffee fa-fw"></i> Categories <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="Category.Add">Add New Category</a>
                    </li>
                    <li>
                        <a ui-sref="Category.List">List View</a>
                    </li>
                    <li>
                        <a ui-sref="Category.Tree">Tree View</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href=""><i class="fa fa-bar-chart-o fa-fw"></i> Manufacturer <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="Manufacturer.Add">Add New Manufacturer</a>
                    </li>
                    <li>
                        <a ui-sref="Manufacturer.List">List View</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href=""><i class="fa fa-beer fa-fw"></i> Products <span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="Product.Add">Add New Product</a>
                    </li>
                    <li>
                        <a ui-sref="Product.List">List View</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""><i class="fa fa-table fa-fw"></i> Orders <span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="Order.Add">Add New Order</a>
                    </li>
                    <li>
                        <a ui-sref="Order.Edit">Edit a Order</a>
                    </li>
                    <li>
                        <a ui-sref="Order.List">List View</a>
                    </li>
                    <li>
                        <a ui-sref="Order.Tree">Tree View</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="Setting.Theme">Themes</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>