<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MEAN - COMMERCE</a>
    </div>
    <!-- /.navbar-header -->

    <div admin-top-menu=""></div>
    <!-- /.navbar-top-links -->

    <div admin-side-menu=""></div>
    <!-- /.navbar-static-side -->
</nav>