<script src="/jquery/dist/jquery.js"></script>
<script src="/angularjs/angular.js"></script>
<script src="{{public}}/app.js"></script>
<script src="{{public}}/services/cart-service.js"></script>
<script src="{{public}}/controllers/cartApp.js"></script>
