<!-- jQuery -->
<script src="/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>



<script src="/jstree/dist/jstree.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/metisMenu/dist/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/raphael/raphael-min.js"></script>
<!--<script src="/morrisjs/morris.min.js"></script>-->
<!--<script src="{{public}}/js/morris-data.js"></script>-->

<!-- Custom Theme JavaScript -->
<script src="{{public}}/js/sb-admin-2.js"></script>


