<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ public }}/asset/css/styles.css">
<link rel="stylesheet" type="text/css" href="{{ public }}/asset/css/admin.styles.css">
<!-- Bootstrap Core CSS -->
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/jstree/dist/themes/default/style.min.css" rel="stylesheet">

