<!-- angularjs -->
<script src="/angularjs/angular.min.js"></script>
<!-- angular-ui-router -->
<script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
<!--angular-smart-table-->
<script src="/angular-smart-table/dist/smart-table.min.js"></script>
<!--angular-ui-bootstrap-->
<script src="/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!--angular-file-upload-->
<script src="/ng-file-upload/ng-file-upload.min.js"></script>
<!-- Tinymce -->
<script src="/tinymce-dist/tinymce.min.js"></script>
<script src="/angular-ui-tinymce/src/tinymce.js"></script>

<!-- app.js -->
<script src="{{public}}/app.js"></script>

<!-- services -->
<script src="{{public}}/services/configuration.js"></script>


<!-- routes-->
<script src="{{public}}/routes/admin.route.js"></script>
<script src="{{public}}/routes/category.route.js"></script>
<script src="{{public}}/routes/product.route.js"></script>
<script src="{{public}}/routes/order.route.js"></script>
<script src="{{public}}/routes/manufacturer.route.js"></script>
<script src="{{public}}/routes/setting.route.js"></script>

<!-- controllers -->
<script src="{{public}}/controllers/admin.controller.js"></script>

<!--category controllers-->
<script src="{{public}}/controllers/category/add.category.controller.js"></script>
<script src="{{public}}/controllers/category/list.category.controller.js"></script>
<script src="{{public}}/controllers/category/edit.category.controller.js"></script>
<script src="{{public}}/controllers/category/tree.category.controller.js"></script>

<!--product controller-->
<script src="{{public}}/controllers/product/add.product.controller.js"></script>
<script src="{{public}}/controllers/product/list.product.controller.js"></script>
<script src="{{public}}/controllers/product/edit.product.controller.js"></script>


<!--manufacturer controllers-->
<script src="{{public}}/controllers/manufacturer/add.manufacturer.controller.js"></script>
<script src="{{public}}/controllers/manufacturer/list.manufacturer.controller.js"></script>
<script src="{{public}}/controllers/manufacturer/edit.manufacturer.controller.js"></script>

<!--manufacturer controllers-->
<script src="{{public}}/controllers/setting/theme.setting.controller.js"></script>

<!-- directives -->
<!-- menus -->
<script src="{{public}}/directives/navigation-bars.js"></script>
<script src="{{public}}/directives/admin-top-menu.js"></script>
<script src="{{public}}/directives/admin-side-menu.js"></script>