<!-- MetisMenu CSS -->
<link href="/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

<!-- Timeline CSS -->
<link href="{{public}}/asset/css/timeline.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="{{public}}/asset/css/sb-admin-2.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="/morrisjs/morris.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->