{% extends 'layout.html' %}
{% block title %}Shopping Cart{% endblock %}
{% block head %}
{% parent %}

{% endblock %}
{% block content %}
<div ng-controller="shoppingController" class="master-wrapper-page">
    <div class="master-wrapper-content">
        <div class="header">
            <div id="banner">Node Commerce Store
                <div id="bar">
                    <span class="orders" ng-click="setContent('orders.html')">Orders</span>
                <span id="cartLink" ng-click="setContent('cart.html')">{{customer.cart.length}} items <img
                        src="{{public}}/images/cart.png"/> </span>
                </div>
            </div>
        </div>
        <combo-search> </combo-search>
        <div id="contentArea">
            <div id="leftColumn">blah blah blah</div>
            <div id="main">
                <div ng-include="content"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}