<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>{% block title %}My Site{% endblock %}</title>
    {% include "./includes/header.html" %}
    {% block head %}
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% include "./includes/footer.html" %}
</body>
</html>