<!doctype html>
<html ng-app="myApp">
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="/static/css/cart_styles.css"/>
</head>
<body>
<div ng-controller="shoppingController" class="master-wrapper-page">
    <div class="master-wrapper-content">
        <div class="header">
            <div id="banner">Node Commerce Store
                <div id="bar">
                    <span class="orders" ng-click="setContent('orders.html')">Orders</span>
                <span id="cartLink" ng-click="setContent('cart.html')">{{customer.cart.length}} items <img
                        src="/images/cart.png"/> </span>
                </div>
            </div>
        </div>
        <combo-search> </combo-search>
        <div id="contentArea">
            <div id="leftColumn">blah blah blah</div>
            <div id="main">
                <div ng-include="content"></div>
            </div>
        </div>
    </div>
</div>

<!--<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>-->
<script src="/lib/angular-1.3.12.min.js"></script>

<script src="/static/js/cartApp.js"></script>
</body>

</html>