<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"> <h3>Add Manufacturer here</h3></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Manufacturer Name</label>
                        <input placeholder="Manufacturer Name" class="form-control" data-ng-model="mf.name">
                    </div>
                    <div class="form-group">
                        <label>Manufacturer info</label>
                        <textarea ui-tinymce ng-model="mf.info"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Manufacturer link</label>
                        <input placeholder="Manufacturer External Link" class="form-control" data-ng-model="mf.link">
                    </div>
                    <button class="btn btn-primary" type="button" ng-click="save(true);">Save & Continue</button>
                    <button class="btn btn-success" type="button" ng-click="save(false);">Save</button>
                    <button class="btn btn-warning" type="button" ng-click="goBack();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>