<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"> <h3>Add Category here</h3></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Category Name</label>
                        <input placeholder="Category Name" class="form-control" data-ng-model="cat.name">
                    </div>
                    <div class="form-group">
                        <label>Category Parent</label>
                        <select class="form-control" data-ng-model="cat.parent" >
                            <option ng-repeat="item in categories" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="button" ng-click="save(true);">Save & Add New</button>
                    <button class="btn btn-success" type="button" ng-click="save(false);">Save & Go Back To List</button>
                    <button class="btn btn-warning" type="button" ng-click="goBack();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>