<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>List of Categories</h3>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table st-table="rowCollection" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Serial</th>
                                    <th>Category</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in categories">
                                    <td>{{item.sn}}</td>
                                    <td>{{item.text}}</td>
                                    <td><a ui-sref="Category.Edit({catId: item.id})">Edit</a></td>
                                    <td><div class="btn btn-danger" ng-click="delete(item.id);"><i class="fa fa-remove fa-fw"></i>Delete</div></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
</div>