<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"> <h3>Tree View</h3></div>
                <div class="panel-body">
                    <category-tree></category-tree>
                </div>
            </div>
        </div>
    </div>
</div>
