{% extends 'layout.html' %}
{% block title %}Admin Page{% endblock %}

{% block head %}
{% include "./includes/index-header.html" %}
{% endblock %}

{% block content %}

<div ng-controller="adminController">


    <div id="wrapper">

        <!-- Navigation -->
        <div navigation-bars></div>

        <div id="page-wrapper">

            <div ui-view></div>

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</div>

{% include "./includes/index-footer.html" %}

{% endblock %}
