<!doctype html>
<html ng-app="appAdmin">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="mean shop, shopping cart, cart, ecommerce">
    <meta name="author" content="Saiful Islam">
<title>{% block title %}My Site{% endblock %}</title>
{% include "./includes/header.html" %}
{% block head %}
{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% include "./includes/footer.html" %}
</body>
</html>