{% extends 'layout.html' %}
{% block title %}User Login and Sessions Page{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <p class="form-header">Login</p>

        <form method="POST">
            <label>Username:</label>
            <input type="text" name="username"><br>
            <label>Password:</label>
            <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
    <a href="/admin/signup">Sign Up</a>
    <hr>
    {{msg}}
    <span>{{err}}</span>
</div>
{% endblock %}

