{% extends 'layout.html' %}
{% block title %}User Login and Sessions Signup{% endblock %}

{% block content %}
<div class="form-container">
    <form method="POST">
        <label>Username:</label>
        <input type="text" name="username"><br>
        <label>Password:</label>
        <input type="password" name="password"><br>
        <label>Email:</label>
        <input type="email" name="email"><br>
        <input type="submit" value="Register">
    </form>
</div>
<hr>{{msg}}
<span>{{err}}</span>
{% endblock %}



