body{
    background-color: #f6f6f4;
}

.thumb-preview{
    max-width: 200px;
    max-height: 200px;
}

.thumb-preview-medium{
    max-width: 150px;
    max-height: 150px;
}

.thumb-preview-small{
    max-width: 100px;
    max-height: 100px;
}