div.form-container{
    display: inline-block;
    border: 4px ridge #666;
    width: 280px;
    border-radius:10px;
    margin:10px;
}
p.form-header{
    margin:0px;
    font: 24px bold;
    color:white;
    background:#666;
    text-align:center;
}
form{ margin:10px;}

input{
    border: 3px ridge #666;
    border-radius:5px;
    padding:3px;
}
input[type=submit]{
    font: 18px bold;
    width: 120px;
    color:white;
    background:#666;
    margin-top:15px;
    margin-left:85px;
}