{% extends 'layout.html' %}
{% block title %}Bootshop online Shopping cart{% endblock %}
{% block head %}
{% parent %}

{% endblock %}
{% block content %}
<div ng-controller="webController">
<div bootshop-header></div>

<div bootshop-carousel></div>
<div bootshop-main-body></div>

<div bootshop-footer></div>
    </div>
{% endblock %}