<!doctype html>
<html ng-app="appWeb" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Bootshop online Shopping cart{% endblock %}</title>

    {% include "./includes/header-before.html" %}
    {% include "./includes/header.html" %}
    {% block head %}
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% include "./includes/footer-before.html" %}
{% include "./includes/footer.html" %}
</body>
</html>



